@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
<h1>Welcome aboard, @Model.firstName! Below is a summary of your registration: </h1>
<p>First name: @Model.firstName</p>
<p>Last name: @Model.lastName</p>
<p>Email: @Model.email</p>
<p>Preference: @Model.preference</p>